<connectionStrings>
    <add name="phenophaseDBConnection"
     providerName="MySql.Data.MySqlClient"
     connectionString="SERVER=jornada-vdbmy.nmsu.edu; UID=phenology_admin; PASSWORD=phenoCam1; DATABASE=phenophase;" />
	 <add name="phenologyDBConnection"
     providerName="MySql.Data.MySqlClient"
     connectionString="SERVER=jornada-vdbmy.nmsu.edu; UID=phenology_admin; PASSWORD=phenoCam1; DATABASE=phenologydb;" />
</connectionStrings>