<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configSource="connections.config"/>
    
  <!-- <connectionStrings>
    <add name="phenophaseDBConnection"
     providerName="MySql.Data.MySqlClient"
     connectionString="SERVER=localhost; UID=root; PASSWORD=Jrn.phenomet; DATABASE=temp_phenophase;" />
    <add name="phenologyDBConnection"
     providerName="MySql.Data.MySqlClient"
     connectionString="SERVER=localhost; UID=root; PASSWORD=Jrn.phenomet; DATABASE=phenologydb;" />
    <add name="phenophaseDBConnection2"
    providerName="MySql.Data.MySqlClient"
    connectionString="SERVER=jornada-vdbmy.nmsu.edu; UID=phenology_admin; PASSWORD=phenoCam1; DATABASE=phenophase;" />
  </connectionStrings> -->
</configuration>